{% extends 'base.html' %}
{% block content %}
    <a href="{% url 'locations:adauga' %}" class="btn btn-success">Adauga locatie</a>
    <table class="table">
        <thead>
            <tr>
                <th>Index</th>
                <th>City</th>
                <th>Country</th>
                <th>Stare</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in locations_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.city }}</td>
                    <td>{{ item.country }}</td>
                    <td>{% if item.active == 1 %}
                        <span class="btn btn-success">Activ</span>
                    {% else %}
                        <span class="btn btn-danger">Inactiv</span>
                    {% endif %}
                    </td>
                    <td>
                        {% if item.active == 0 %}
                        <a href="{% url 'locations:activeaza' item.id %}" class="btn btn-success">Activeaza</a>
                        <a href="{% url 'locations:modifica' item.id %}" class="btn btn-info">Modifica</a>
                        {% else %}
                        <a href="{% url 'locations:sterge' item.id %}" class="btn btn-danger">Sterge</a>
                        <a href="{% url 'locations:modifica' item.id %}" class="btn btn-info">Modifica</a>
                        {% endif  %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}